name: 'CI WebApp 452'

on:
  push:
    branches: [ main ]
    paths:
     - 'src/WebApp452/**'     
  
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab     

env:
  PROJECT_PATH: 'src/WebApp452/WebApp452.csproj'
  PACKAGE_OUTPUT_DIRECTORY: ${{ github.workspace }}/src/WebApp452/output
  SOLUTION_NAME: 'HelloMvc5.sln'
  BUILD_PLATFORM: 'Any CPU'
  BUILD_CONFIGURATION: 'Release'

jobs:

  build-and-package:
    name: 'Build and Package'
    runs-on: windows-latest    
    steps:   
    - name: 'Checkout Code'
      uses: actions/checkout@v3
       
    - name: 'Setup MsBuild'
      uses: microsoft/setup-msbuild@v1.1
         
    - name: 'Restore Nuget Packages'
      uses: nuget/setup-nuget@v1
         
    - name: Restore Packages
      run: nuget restore ${{ env.SOLUTION_NAME }}
      
    - name: 'Build App'
      run: |
        msbuild ${{ env.SOLUTION_NAME }} /p:platform=${{ env.BUILD_PLATFORM }} /p:Configuration=${{ env.BUILD_CONFIGURATION }} /p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:PackageLocation=${{ env.PACKAGE_OUTPUT_DIRECTORY }} /p:AllowUntrustedCertificate=True /p:PrecompileBeforePublish=true
        
    - name: 'Package to Cache'
      uses: actions/cache@v3
      with:
        path: ${{ env.PACKAGE_OUTPUT_DIRECTORY }}
        key: webapp-cache
        enableCrossOsArchive: true